<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customerOrder_detail">
   <select id="getNextNo" resultType="java.lang.Integer">
 	select nvl(max(no),0)+1 from customerOrder_detail
  </select>
  
  <select id="listDetail" resultType="ListDetailVO">
  	select o.order_no, product_img, product_name,product_price, detail_cnt, status_code, detail_price, payment_code, cust_name, cust_phone, cust_addr1, cust_addr2, cust_addr3 
	from customer c, product p, customerOrder_detail d, customer_order o 
	where o.cust_id=c.cust_id and d.product_no=p.product_no and o.order_no=d.order_no and o.order_no=#{order_no}
  </select>
  
  <select id="totalDetail" resultType="java.lang.Integer">
  	select sum(d.detail_price) from customer c, product p, customerOrder_detail d, customer_order o  
	where o.cust_id=c.cust_id and d.product_no=p.product_no and o.order_no=d.order_no and o.order_no=#{order_no}
  </select>
</mapper>