<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
  <select id="listProduct" resultType="productVO">
    select product_no,product_img,product_name,product_price,product_desc from 
    (select rownum num,product_no,product_img,product_name,product_price,product_desc from 
    (select product_no,product_img,product_name,product_price,product_desc from product where category_code=#{category_code} 
    <if test="orderType != null">
        order by ${orderType} 
    </if>
    <if test="orderType == null">
        order by  product_date desc 
    </if>
    )) 
	where num between #{start} and #{end} 
  </select>
  
  <select id="getTotalRecord" resultType="java.lang.Integer">
  	select count(*) from product where category_code=#{category_code}
  </select>
  
  <select id="recentProduct" resultType="productVO">
  	select product_no,product_img,product_name,product_price,product_desc from 
  	(select product_no,product_img,product_name,product_price,product_desc from product order by product_date desc) where rownum &lt;= 30 
  	<if test="orderType != null">
  		order by ${orderType}
  	</if>
  </select>
  
  <select id="detailProduct" resultType="productVO">
  	select product_img,product_desc,product_name,product_price,product_detail from product where product_no=#{product_no}
  </select>    
  
  <select id="bestProduct" resultType="productVO">
  	select * from (select p.product_no, product_img, product_name, product_price, product_desc, count(*) from product p, customerOrder_detail c 
	where c.product_no=p.product_no group by p.product_no, product_img, product_name, product_price,product_desc order by count(*) desc) where rownum &lt;= 8
  </select>
  
  <select id="marginProduct" resultType="marginProductVO">
  	select product_no,product_img, product_name, product_price,product_desc from product where product_margin=1
  </select>
  
  <select id="searchProduct" resultType="productVO">
  	select product_no,product_img, product_name,product_desc, product_price from product where product_name like '%' || #{keyword} || '%'
  </select>
  
  <!-- admin -->
  <select id="mgr_listProduct" resultType="productVO">
    select product_no,category_code,product_name from 
   (select rownum num,product_no,category_code,product_name from 
   (select product_no,category_code,product_name from product order by product_no desc)) 
	where num between #{start} and #{end} 
  </select> 

  <select id="mgr_getTotalRecord" resultType="java.lang.Integer">
  	select count(*) from product
  </select> 
  
   <select id="mgr_detailProduct" resultType="productVO">
   select * from product where product_no=#{product_no}
  </select>
  
  <insert id="mgr_insertProduct" parameterType="productVO">
  	insert into product ( product_no, category_code, product_name, product_price, product_desc, product_date, product_img, product_margin, product_detail) values(#{product_no},#{category_code},#{product_name},#{product_price},#{product_desc},sysdate,#{product_img},0,#{product_detail})
  </insert>

  <update id="mgr_updateProduct" parameterType="productVO">
  update product set product_name=#{product_name},product_price = #{product_price},product_desc=#{product_desc}, product_margin=#{product_margin} where product_no=#{product_no}
  </update>
  
  <delete id="mgr_deleteProduct" parameterType="productVO">
  	delete from product where product_no=#{product_no}
  </delete>
  
   <select id="getNextNo" resultType="java.lang.Integer">
  	 select nvl(max(product_no),0)+1 from product
  </select>
  
  <select id="category_sale" resultType="productVO">
	select product.product_no, product_name 
from product left outer join (select product_no, count(product_no) cnt 
from customerOrder_detail group by product_no) a 
on product.product_no=a.product_no 
where category_code=#{category_code}
order by a.cnt desc
	
  </select>
  
</mapper>