<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
  <select id="listProduct" resultType="productVO">
    select product_no,product_img,product_name,product_price from 
    (select rownum num,product_no,product_img,product_name,product_price from 
    (select product_no,product_img,product_name,product_price from product where category_code=#{category_code} 
    <if test="orderType != null">
        order by ${orderType} 
    </if>
    <if test="orderType == null">
        order by  product_date desc 
    </if>
    )) 
	where num between #{start} and #{end} 
  </select>
  
  <select id="getTotalRecord" resultType="java.lang.Integer">
  	select count(*) from product where category_code=#{category_code}
  </select>
  
  <select id="recentProduct" resultType="productVO">
  	select product_no,product_img,product_name,product_price from 
  	(select product_no,product_img,product_name,product_price from product order by product_date desc) where rownum &lt;= 30 
  	<if test="orderType != null">
  		order by ${orderType}
  	</if>
  </select>
</mapper>