*{
	box-sizing: content-box;
}
/* footer가 밀리면 */

.page_article{
	width: 1100px;
	border-top: 2px solid #f7f7f7;
	margin: 10px auto 130px auto;
	padding-top: 20px;
}

.page_article .top-section{
	position: relative;
}

.page_article .top-left-section{
	width: 450px;
	display: inline-block;
	margin-left: 40px;
}

.page_article .top-left-section img{
	width: 450px;
}

.page_article .top-right-section{
	float: right;
	margin-top: 20px;
    margin-right: 10px;
	width: calc(100% - 540px);
}

.top-right-section .info-area_desc{
	margin-bottom: 10px;
	color: #888;
}

.top-right-section .info-area_name{
	padding: 0 80px 15px 0;
	font-size: 24px;
	border-bottom: 1px solid grey;
	font-weight: 600;
}

.top-right-section .info-area-price{
	height: 44px;
	line-height: 44px;
	margin: 15px 0;
}

.top-right-section .info-area_origin{
	font-size: 24px;
	font-weight: 600;
}

.top-right-section .info-area_box-list{
	border-top: 1px solid #ccc;
	overflow: hidden;
}

.top-right-section .info-area_box_tit{
	float: left;
	padding: 12px 0;
}

.top-right-section .info-area_box_cont{
	float: right;
	padding: 12px 0;
	width: 385px;
}

.top-right-section .button-wrap{
	float: right;
	width: 560px;
	margin-top: 35px;
}

.top-right-section .button-wrap > .top-button{
	font-size: 18px;
	border: 1px solid #F26835;
	color: white;
    background-color: #F26835;
}

.top-button:focus, .top-button:active{
	box-shadow: none !important;
}

.marketDetail_sect{
	margin-top: 50px;
}

.marketDetail_sect .tap-section .tap-section_inner{
	display: flex;
	width: 1100px;
	margin: 0 auto;
	padding-left: 0px;
}

.tap-section_inner .tab-section_list{
	display: flex;
	flex: 1;
	vertical-align: top;
	cursor: pointer;
}

.tab-section_list .tap-change{
	flex: 1;
	position: relative;
    top: 1px;
    height: 60px;
    line-height: 59px;
    text-align: center;
    font-weight: 700;
    background-color: #fafafa;
    border: 1px solid #eee;
}

.tab-section_list #d_tap{
	background-color: #fff;
	color: #F26835;
	border-bottom: 0;
	
}

.bottom-section .detail-wrap{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.bottom-section .exchange-wrap{
	width: 100%;
    margin: 50px auto 100px;
}