@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
* {
	 font-family: 'Noto Sans KR', sans-serif; 
}
#login_login{
	text-align: center;
	margin-bottom: 50px;
}
#login_container{
	margin-top: 50px;
	text-align: center;
}
#login_id{
	height: 20px;
}
.login_content{
	height: 25px;
	width: 300px;
	outline-color: #c0c0c0;
}
#login_find{
	text-align: right;
	font-size: 13px;
	margin-right: 610px;
}
#login_btn{
	margin-top: 10px;
	color: white;
	background-color : #F2884B;
	border-radius: 3px;
	font-size: 13px;
	outline: none;
	box-shadow: none;
	border: #F2884B;
	width: 150px;
	height: 30px;
}
#login_insert{
	background-color: white;
	border-radius: 3px;
	color: #F2884B;
	margin-left: 5px;
	font-size: 13px;
	outline: none;
	box-shadow: none;
	border : 1px solid #F2884B;
	padding: 4px 50px; 
	text-align: center; 
	display: inline-block;
}
#login_kakao{
	margin-top: 10px;
	margin-right: 5px;
	background-color: white;
	border-radius: 3px;
	color: #F2884B;
	margin-left: 5px;
	font-size: 13px;
	outline: none;
	box-shadow: none;
	border : 1px solid #F2884B;
	padding: 4px 75px; 
	text-align: center; 
	display: inline-block;
}
#login_kakaoImg{
	height: 15px;
}