 table,tr,td{
  	margin-left: auto;
    margin-right: auto;
  	border-collapse:collapse;
    text-align: center;
    border: 0.5px solid gray;
  }
  
 .mgr_list{
	width: 1000px;
	height: 100%;
	margin: 25px auto 100px;
	border-radius: 3px;
	padding: 50px 50px;
} 

.pagenation{
	float: left;
	width: 100%;
	text-align: center;
	display: inline-block;
}