 .mgr_list{
	width: 1000px;
	height: 100%;
	margin: 25px auto 100px;
	border-radius: 3px;
	padding: 50px 50px;
} 

input[type=submit]{
	background-color: #F2884B;
	border-radius: 3px;
	color: white;
	font-size: 17px;
	outline: none;
	box-shadow: none;
	border : 1px solid #F2884B;
	float: left;
	margin-bottom: 20px;
	margin-top: 40px;
	margin-left: 340px;
    display:block;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

#product_box{
	border-top: 2px solid black;
	width: 650px;
}

table td{
	border-bottom: 1px solid  #c0c0c0;
	border-right: 1px solid  #c0c0c0;
}
table th{
	background-color: rgb(242, 230, 208);
	border-bottom: 1px solid  rgb(242, 230, 208);
}

hr{
	width: 650px;
	margin: 0px;
	padding: 0px;
}
.qna_name{
	float:left;
	margin-left: 20px;
    text-align: center;
   /*  padding: 15px; */
   /*  background: #f7f5f8; */
    vertical-align: middle;
    
}
.qna_content{
	/* float: left; */
	text-align: center;
	margin-right: 50px;


}
#product_no{
	height: 30px;
}

textarea{
	resize: none;
}

#p_product_no{
	margin-top: 10px;
	margin-bottom: 10px;
}

#p_product_name{
	margin-top: 10px;
	margin-bottom: 10px;
}

#p_product_price{
	margin-top: 10px;
	margin-bottom: 10px;
}
#p_product_desc{
	margin-top: 10px;
	margin-bottom: 10px;
}
#p_product_date{
	margin-top: 10px;
	margin-bottom: 10px;
}

#p_product_margin{
	margin-top: 10px;
	margin-bottom: 10px;
}

#p_category_code{
	margin-top: 10px;
	margin-bottom: 10px;
}


#p_product_detail{
	margin-top: 10px;
	margin-bottom: 10px;
}

#p_product_img{
	margin-top: 10px;
	margin-bottom: 10px;
}