#qna_head{
	margin-left: 200px;
}
#qna_box{
	border: 1px solid black;
	width: 650px;
	margin-left: 200px;
	background-color: rgb(242, 230, 208);
}

hr{
	width: 650px;
	margin: 0px;
	padding: 0px;
}
.qna_name{
	float:left;
	margin-left: 20px;
    text-align: left;
   /*  padding: 15px; */
   /*  background: #f7f5f8; */
    vertical-align: middle;
    
}
.qna_content{
	/* float: left; */
	text-align: center;
	margin-right: 50px;
	margin-top: 10px;
}
#qna_no{
	height: 30px;
}

#qna_title{
	height: 30px;
}
#order_no{
	height: 30px;
}
#qna_content{
	height: 210px;
}
#qna_img{
	height: 110px;
}
#q_qna_title{
	margin-left: 80px;
}
#q_detail_no{
	/* margin-left: 250px; */
}
#q_qna_content{
	margin-top: 10px;
}
.qna_link{
	margin-left: 460px;
	background-color: #F2884B;  
	padding: 5px 20px; 
	text-align: center; 
	display: inline-block;
	border-radius: 3px;
}
#qna_list{
	margin-left: 10px;
}





