.page_article{
	border-top: 2px solid #f7f7f7;
	margin-top: 10px;
}

.recentLsit{
	width: 1100px;
	margin: 0 auto 130px auto;
}

.recentLsit .head .sort_menu{
	position: relative;
	width: 100%;
	padding-top: 19px;
}

.recentLsit .head .sort_menu:after{
	content: "";
	display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    clear: both;
}

.recentLsit .head .list{
	float: right;
	margin-bottom: 0;
}

.recentLsit .head .list li{
	position: relative;
	float: left;
	padding: 0 10px 0 8px;
}

.recentLsit .head .list li:after{
	content: "";
	position: absolute;
    right: 0;
    top: 6px;
    width: 1px;
    height: 10px;
    background-color: #e5e5e5;	
}

.recentLsit .head .list li:last-child:after{
	display: none;
}

.recentLsit .box{
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
}

.recentLsit .box_list:nth-child(3n+1){
	margin-left: 0;
	clear: both;
}

.recentLsit .box_list{
	position: relative;
	float: left;
	width: 340px;
	padding-bottom: 15px;
	border-bottom: solid 1px #bcbcbc;
    margin-top: 40px;
    margin-left: 40px;
}

.recentLsit .box_list_title_wrap{
	margin-top: 15px;
}

.recentLsit .box_list_sub{
	color: #555;
    overflow: hidden;
}

.recentLsit .box_list_title{
	min-height: 56px;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	display: block;
}

.recentLsit .box_list_price-origin{
	font-size: 20px;
	font-weight: 600;
}

ul{
	margin: 0;
	padding: 0;
}

a.top{
	position: fixed;
	z-index: 200;
	right: 5%;
	bottom: 50px;
	width: 58px;
	height: 58px;
	display: none;
	background: url('/images/btn_u.jpg') no-repeat 50% 50%;
	text-indent: -9999px;
}

