 .mgr_list{
	width: 1000px;
	height: 100%;
	margin: 25px auto 100px;
	border-radius: 3px;
	padding: 50px 50px;
} 

input[type=submit]{
	background-color: #F2884B;
	border-radius: 3px;
	color: white;
	font-size: 17px;
	outline: none;
	box-shadow: none;
	border : 1px solid #F2884B;
	float: left;
	margin-bottom: 20px;
	margin-top: 40px;
	margin-left: 280px;
    display:block;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

input[type=reset]{
	background-color: #F2884B;
	border-radius: 3px;
	color: white;
	font-size: 17px;
	outline: none;
	box-shadow: none;
	border : 1px solid #F2884B;
	float: left;
	margin-bottom: 20px;
	margin-top: 40px;
	margin-left: 30px;
    display:block;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

#qna_box{
	border-top: 2px solid black;
	width: 650px;
}

table td{
	border-bottom: 1px solid  #c0c0c0;
	border-right: 1px solid  #c0c0c0;
}
table th{
	background-color: rgb(242, 230, 208);
	border-bottom: 1px solid  rgb(242, 230, 208);
}

hr{
	width: 650px;
	margin: 0px;
	padding: 0px;
}
.qna_name{
	float:left;
	margin-left: 20px;
    text-align: center;
   /*  padding: 15px; */
   /*  background: #f7f5f8; */
    vertical-align: middle;
    
}
.qna_content{
	/* float: left; */
	text-align: center;
	margin-right: 50px;


}
#qna_no{
	height: 30px;
}

#qna_title{
	height: 30px;
}
#order_no{
	height: 30px;
}
#qna_content{
	height: 210px;
}
#qna_img{
	height: 110px;
}
#qna_tr_title{
	height: 50px;
}
#qna_tr_no{
	height: 50px;
}
.qna_link{
	margin-left: 280px;
	background-color: #F2884B;  
	padding: 5px 20px; 
	text-align: center; 
	display: inline-block;
	border-radius: 3px;
}
#qna_list{
	margin-left: 10px;
}
textarea{
	resize: none;
}

#q_qna_no{
	margin-top: 10px;
	margin-bottom: 10px;
}

#q_qna_date{
	margin-top: 10px;
	margin-bottom: 10px;
}

#q_qna_title{
	margin-right: 45px;
}
#q_detail_no_{
	margin-right: 285px;
}
#q_qna_content{
	margin-top: 10px;
	margin-bottom: 10px;
}
#q_qna_img{
	margin-top: 10px;
	margin-right: 150px;
	margin-bottom: 10px;
}

#q_detail_no_update{
	float: left;
	margin-left: 75px;
}